{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"poppins",sans-serif;
}
body
{
	background: #AFEEEE;
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.container
{
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: #fff;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side
{
	position: relative;
	background: #191970;
	padding: 40px;
}
.profileText
{
	position: relative;
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profiletext .imgBx
{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}


.profileText h2
{
	color: #fff;
	font-size: 1.5em;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.4em;
}
.profileText h2 span
{
	font-size: 0.8em;
	font-weight: 300;
}
.contactinfo
{
	padding-top: 40px
}
.title
{
	color: #FFF;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-botttom: 20px;
	background-color: #FFFF00;
}
.contactInfo ul
{
	position: relative;
}
.contactInfo ul li 
{
	position: realtive;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}
.contactInfo ul li .icon
{
	display: inline-block;
	width: 20px;
	font-size: 18px;
	color: #FFFF00;  
}
.contactInfo ul li span
{
	color: #fff;
	font-weight: 300;
}

.contactInfo.language .percent
{
	position: relative;
	width: 100%;
	height: 6px;
	background: #fff;
	display: block;
	margin-top: 5px;
}
.contactInfo.language .percent div
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #FFFF00;
}


.container .right_side
{
.profileText .imgBx
	position: relative;
	background: #fff;
	padding: 40px;
}
.about
{
	margin-bottom: 50px;
}
.about:last-child
{
	margin-bottom: 0;
}
.title2
{
	color: #FFFF00; 
	text-transform: uppercase;
	later-spacing: 1px;
	margin-bottom: 10px;
	background-color: #191970; 
}
.table, th, td
{
	border: 1px solid black;
}